<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sortir.com{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header class="pb-5">
    <nav class="flex justify-between px-5 pt-4 items-center">
        <div>
            <a href="/">
                <p class="text-3xl">Sortir.com</p>
            </a>

        </div>
        <div>
            {% if app.user %}
                <a class="px-5" href="{{ path('sortie_create') }}">Créer une sortie</a>
                <a class="px-5" href="{{ path('profil_dashboard') }}">Profil</a>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
            {% endif %}


        </div>


    </nav>
</header>
<hr>

{% block body %}{% endblock %}
</body>
</html>